@charset "utf-8";

:root{
  --main-font : "pretendard", sans-serif;
  --sub-font : "Mont", sans-serif;
  --main-color : #E70017;
}

body{font-family: var(--main-font); font-size: 1.6rem; line-height: 1.35; color: #000;}
.inner{padding: 0 20px; max-width: 1640px; margin: 0 auto;}


/*header*/
header{position: absolute; top: 0; left: 0; width: 100%; z-index: 9; padding: 30px 0;}
header .inner{display: flex; justify-content: space-between; align-items: center;}
header h1 img{width: 200px; display: block;}

header .gnb{display: flex;}
header .gnb > li{position: relative;}
header .gnb > li > a{display: block; padding: 10px 40px; font-size: 2rem; color: #fff; font-weight: 500;}

header .gnb > li .depth2{position: absolute; left: 50%; transform: translateX(-50%); width: 200px; background-color: #fff; padding: 30px; border-radius: 20px;}
header .gnb > li .depth2 li a{display: block; padding: 3px 0; transition: all 0.5s;}
header .gnb > li .depth2 li:hover a{color: var(--main-color);}

header .ham{cursor: pointer; width: 30px; height: 30px; color: #fff; display: none; font-size: 20px; border-radius: 50%;}


header .mgnb-wrap{position: fixed; top: 0; left: 100%; width: 100%; height: 100%; padding: 80px 20px; background-color: #fff; align-self: 999;}
header .mgnb{border-top: 1px solid #000;}
header .mgnb > li{padding: 15px 20px 10px; border-bottom: 1px solid #ddd; font-size: 2rem;}
header .mgnb > li .mdepth2{padding: 10px 0 0 20px;}
header .mgnb > li .mdepth2 li a{color: #666; font-size: 1.6rem; display: block; padding: 3px 0;}

header .mgnb-wrap .mgnb-close{position: absolute; right: 20px; top: 20px; width: 30px; height: 30px; cursor: pointer; color: #000; font-size: 20px;}

@media (max-width:1024px) {
  header h1 img{width: 150px;}
  header .gnb {display: none;}
  header .ham{display: block;}
}


/* main 공통 */
main h2{text-transform: capitalize; font-size: 7rem; font-family: var(--sub-font);}
main .btn-more a{display: inline-block; padding: 10px 100px; background: #000; color: #fff; font-size: 1.8rem; font-weight: 700; border-radius: 50px; transition: all 0.5s;}
main .btn-more a:hover{background: var(--main-color);}

@media (max-width:1200px) {
  main h2{font-size: 5.5rem;}
}

@media (max-width:576px) {
  main h2{font-size: 4rem;}
  main .btn-more a{padding: 10px 50px; font-size: 1.4rem;}
}


/*banner*/
#banner .inner{height: 100vh; color: #fff; position: relative;}
#banner .banner1{background: url(../images/banner1.png) no-repeat center / cover;}
#banner .banner2{background: url(../images/banner2.png) no-repeat center / cover;}
#banner .banner3{background: url(../images/banner3.png) no-repeat center / cover;}

#banner .banner-txt{position: absolute; left: 20px; bottom: 100px; line-height: 1.2;}
#banner .banner-txt span{display: block; font-size: 3rem; padding: 30px 0 0;}
#banner .swiper-button-next, #banner .swiper-button-prev{color: #fff;}
#banner .swiper-pagination{top: auto; bottom: 50px; height: 2px; width: 80%; left: 50%; transform: translateX(-50%); max-width: 1600px;}
#banner .swiper-pagination-progressbar-fill{background-color: #fff;}

@media (max-width:1200px) {
  #banner .banner-txt{bottom: 150px;}
  #banner .banner-txt span{font-size: 2.5rem; padding: 20px 0;}
  #banner .swiper-button-next, #banner .swiper-button-prev{display: none;}
}

@media (max-width:768px) {
  #banner .banner1{background: url(../images/banner1_mo.png) no-repeat center / cover;}
  #banner .banner2{background: url(../images/banner2_mo.png) no-repeat center / cover;}
  #banner .banner3{background: url(../images/banner3_mo.png) no-repeat center / cover;}

  #banner .banner-txt{bottom: 100px;}
  #banner .banner-txt span{font-size: 2rem; padding: 10px 0;}
}


/*menu*/
#menu{margin: 200px 0; text-align: center;}
#menu .menu-list{margin-top: 50px;}
#menu .menu-list img{width: 100%;}
#menu .menu-list .swiper-slide{transform: scale(0.8); transition: transform 0.5s;}
#menu .menu-list .swiper-slide-active{transform: scale(1);}
#menu .menu-list strong{display: block; margin-top: 20px; font-size: 3rem;}
#menu .menu-list span{display: block; color: var(--main-color); font-size: 2rem; padding: 5px 0; font-weight: 700;}

@media (max-width:1200px) {
  #menu{margin: 150px 0;}
  #menu .menu-list strong{font-size: 2.5rem;}
  #menu .menu-list span{font-size: 1.6rem;}
}

@media (max-width:768px) {
  #menu{margin: 100px 0;}
  #menu .menu-list strong{font-size: 2rem;}
}

/* brand */
#brand .inner{display: flex; flex-wrap: wrap-reverse; gap: 50px; align-items: center;}

#brand .brand-video{width: 65%;}
#brand .brand-txt{width: calc(35% - 50px);}

#brand .brand-video video{width: 100%; border-radius: 20px;}

#brand p{font-size: 1.8rem; color: #999; padding: 0 0 30px;}

@media (max-width: 1200px) {
  #brand .inner > div{width: 100%; text-align: center;}
}


/* story */
#story {margin: 200px 0;}
#story .inner {display: grid; grid-template-columns: 400px auto;}

#story .story-txt{position: sticky; top: 50px; height: 200px;}
#story .story-txt p{font-size: 1.8rem; color: #999;}

#story .story-list{display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px;}
#story .story-list .story-item{border: 1px solid #ddd; border-radius: 20px; overflow: hidden; margin-bottom: 50px;}
#story .story-list .story-item img{width: 100%;}
#story .story-list .story-item dl{padding: 30px; color: #999;}
#story .story-list .story-item dl dt{font-size: 2rem; font-weight: 700; color: #000; margin-bottom: 10px;}
#story .btn-more{text-align: center;}

@media (max-width:1200px) {
  #story {margin: 150px 0;}
  #story .inner {grid-template-columns: 1fr;}
  #story .story-txt {position: static; text-align: center; height: auto; margin-bottom: 50px;}
  #story .story-txt br{display: none;}

  #story .story-list{grid-template-columns: 1fr 1fr;}
  #story .story-list > div:nth-child(3){display: none;}
}

@media (max-width:768px) {
  #story {margin: 100px 0;}
  #story .story-list{grid-template-columns: 1fr;}
  #story .story-list > div:nth-child(2){display: none;}
}


/*search*/
#search{padding: 200px 0; text-align: center; color: #fff; background: url(../images/search_bg.png) no-repeat center / cover; }
#search .search-box{border-radius: 100px; height: 70px; background-color: #fff; display: flex; max-width: 800px; margin: 0 auto; overflow: hidden; padding: 5px;}
#search .search-box input[type="text"]{width: calc((100% - 60px)); padding: 0 30px; font-size: 2rem;}
#search .search-box .search-btn {width: 60px; height: 60px; background: #000; border-radius: 50%; cursor: pointer; color: #fff;}

@media (max-width:1200px) {
  #search{padding: 150px 0;}
}

@media (max-width:576px) {
  #search{padding: 100px 0;}
}


/* footer */
footer{padding: 100px 0; background-color: #000; font-size: 1.4rem; color: #fff;}
footer .inner{display: flex; justify-content: space-between; flex-wrap: wrap; gap: 20px;}
footer .f-link{display: flex; gap: 10px 20px; flex-wrap: wrap;}

footer .footer-sns{display: flex; gap: 10px;}
footer address{margin: 30px 0; color:#999;}
footer .copy{color: #ccc;}

@media (max-width : 768px) {
  footer{padding: 50px 0;}
}
